<div class="wraper">

  <div class="header">
    <p><img src="assets/logo.gif" alt=""> GAMES FULL</p>
    <div class="search-bar">
      <input type="text" placeholder="Buscar...">
      <button>Buscar</button>
    </div>
  </div>

  <div class="banner">
    <img src="assets/fondo.jpg" alt="">
  </div>

  <div class="content">

    <span>LAST RELEASES</span>
    <div class="separator"></div>


    <div class="vid-games">
      <div class="vid">
        video
      </div>
      <div class="content-games">

        <div class="product-card">
          <img src="assets/game1.png" alt="Nombre del Producto">
          <h3>Red dead redemption 2</h3>
          <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
        </div>
        <div class="product-card">
          <img src="assets/game1.png" alt="Nombre del Producto">
          <h3>Red dead redemption 2</h3>
          <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
        </div>
        <div class="product-card">
          <img src="assets/game1.png" alt="Nombre del Producto">
          <h3>Red dead redemption 2</h3>
          <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="footer">

  </div>
</div>
